<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${JAGUAR_HOME}/logs/jaguar.log</file>
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{0}: %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${JAGUAR_HOME}/logs/jaguar.log.%i</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>10</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{0}: %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>serviceId</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="EVENT-${serviceId}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${JAGUAR_HOME}/events/application_${serviceId}.event</file>
                <encoder>
                    <pattern>%date{ISO8601} %msg%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                    <FileNamePattern>${JAGUAR_HOME}/events/application_${serviceId}.event.%i</FileNamePattern>
                    <MinIndex>1</MinIndex>
                    <MaxIndex>10</MaxIndex>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                    <MaxFileSize>10MB</MaxFileSize>
                </triggeringPolicy>
            </appender>
        </sift>
    </appender>

    <logger name="EVENT_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="SIFT"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="${LOG_APPENDER:-STDOUT}"/>
    </root>

</configuration>
